/* cherry-bomb-one-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cherry Bomb One';
    font-style: normal;
    font-weight: 400;
    src: url('./font/cherry-bomb-one-v8-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    font-family: 'Cherry Bomb One';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./img/UI/UI-Background/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer {
    cursor: pointer;
}

header {
    position: absolute;
    top: 0;
    font-size: 36px;
    font-family: 'Cherry Bomb One';
}

header h1 {
    margin: 0;
    margin-top: 24px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
    user-select: none;
}

canvas {
    background-color: black;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    display: block;
}

.game_menu_ctn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.backward_button {
    width: 36px;
    height: 36px;
    padding-right: 70px;
    cursor: pointer;
}

.start_menu {
    background-image: url('img/UI/menu/Background.png');
    background-size: cover;
    height: 576px;
    width: 960px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start_menu_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;

}

.start_menu h2 {
    user-select: none;
    font-size: 48px;
    margin: 0;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
    padding-bottom: 18px;
}

.start_menu button {
    min-width: 300px;
    min-height: 36px;
    font-size: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
    transition: all 250ms ease-in;
    position: relative;
}

.start_menu button:hover {
    transform: scale(1.1);
}

.option_menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 250px;
    padding: 20px 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px white;
}

.option_menu span:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
}

#character-selection-button {
    width: max-content;
    position: relative;
}

#current-character {
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 7.5px;
    width: 64px;
    height: 64px;
}

.character_selection_ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.character_selection {
    display: flex;
    flex-direction: column;
}

.character_thumbnail_img {
    cursor: pointer;
    position: relative;
    width: max-content;
    height: max-content;
}

.character_thumbnail_img:hover {
    transform: scale(1.1);
}

.character_selection_img_frame {
    width: 67px;
    height: 67px;
}

.character-selection-avatar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2px;
    border-radius: 50%;
}

#character-info {
    display: flex;
    height: 379px;
    width: 217px;
}

.character_info_ctn {
    background-image: url('img/UI/menu/char_bg.png');
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: relative;
}

.character_informations {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#select-character-button {
    min-width: unset;
    min-height: unset;
}

#selected-character-name {
    text-align: center;
    font-size: 28px;
    user-select: none;
    margin-top: -12px;
    display: block;
}

.font_24 {
    font-size: 24px;
}

.padding_top_24 {
    padding-top: 24px;
}

.m_top_12 {
    margin-top: 12px;
}

.m_top_24 {
    margin-top: 24px;
}

.minus_margin_24 {
    margin: -24px;
}

.gap_12 {
    gap: 12px;
}

.gap_24 {
    gap: 24px;
}

.b_radius_50 {
    border-radius: 50%;
}

.height_90_percent {
    height: 90%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.column_center_x {
    flex-direction: column;
    justify-content: center;
}

.j_content_center {
    justify-content: center;
}

.align_item_center {
    align-items: center;
}

.character_preview_avatar_ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.character_preview {
    margin-left: 15px;
}

.character_shadow {
    margin-top: -25px;
    width: 100px;
}

.character_shadow img {
    width: 100px;
}

.keyboard_preview span {
    display: flex;
    align-items: center;
    gap: 4px;
}

.keyboard_preview img {
    width: 34px
}

.button_ctn {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.content_ctn {
    width: 80%;
    height: 85%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.level_selection {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.level_ctn {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px white;
    margin-left: 24px;
}

.level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level img {
    width: fit-content;
    height: fit-content;
}

.level span {
    font-size: 22px;
}

.information_content_ctn_background {
    height: 95%;
    width: 97%;
    background-image: url('img/UI/UI-Background/menu_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid transparent;
    border-image: url('img/UI/UI-Background/border.png') 2% stretch;
}

.description_banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -34px;
}

.width_height_100 {
    width: 100%;
    height: 100%;
}

.content_description_ctn {
    background-image: url('img/UI/UI-Background/beige_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width: 87%;
    height: 87%;
    position: relative;
}

.close_button {
    position: absolute;
    right: -15px;
    top: -15px;
    cursor: pointer;
}

.level_description {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    gap: 24px;
}

.level_avatar_ctn {
    margin-top: -12px;
    border: 10px solid transparent;
    border-image: url('img/UI/UI-Background/round_border.png') 60 / 10;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-position: bottom left;
}

.select_level_btn {
    display: flex;
    margin: -15px -25px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.select_level_btn img {
    cursor: pointer;
}

.won_bg {
    background-image: url('img/UI/defeat/Background-won.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.defeat_bg {
    background-image: url('img/UI/defeat/Background.png');
}

.game_finished_ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 10px;
    gap: 18px;
}

.endScreen_button_ctn {
    display: flex;
    flex-direction: column;
}

#defeat {
    font-size: 24px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.level_statistics {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statistic_ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.victory_text {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    margin-bottom: 40px;
}

.d-none {
    display: none;
}

.hud_ctn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hud {
    width: 960px;
    height: 576px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



#legal-content-close-button {
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
}

.legal_content_description {
    display: flex;
    justify-content: center;
    width: 80%;
    padding: 10px;
    height: 90%;
    overflow: hidden;
}

.legal_content_sidebar {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 12px 12px 0 24px;
}

.legal_content_sidebar span {
    cursor: pointer;
}


.overflow_scroll {
    overflow: scroll;
}

.fullScreen_img_ctn {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
}

.fullScreen_img_ctn img {
    width: 28px;
    height: 28px;
    z-index: 1;
    position: relative;
}

#full-screen-on:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#full-screen-off:hover {
    transform: scale(0.9);
    cursor: pointer;
}

::-webkit-scrollbar {
    background: url('img/UI/menu/scrollbar_point.png');
    background-position: center;
    background-repeat: repeat-y;
    height: 100%;
}

::-webkit-scrollbar-thumb {
    background: url('img/UI/menu/slider.png');
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: center;
    height: 23px;
}

::-webkit-scrollbar-button:vertical:increment {
    background: url('img/UI/menu/arrow1.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

::-webkit-scrollbar-button:vertical:decrement {
    background: url('img/UI/menu/arrow2.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}






@media (max-width:1024px) and (orientation:portrait) {
    #canvas {
        display: none;
    }

    #game-menu-main-ctn {
        display: none;
    }

    #rotate-device-screen {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 1);
    }

    #rotate-device-screen span {
        font-size: 24px;
        color: white;
    }

    #rotate-device-img {
        width: 400px;
        height: 300px;
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(118deg) brightness(105%) contrast(101%);
    }
}



@media only screen and (max-width: 960px) {

    header {
        display: none;
    }

    canvas {
        width: 100%;
        border-radius: unset;

    }

    .start_menu {
        width: 100%;
        border-radius: unset;
    }

    #game-menu-main-ctn {
        width: 100%;
    }

    .start_menu_content {
        width: 100%;
        gap: 0;
    }

    .mobile_nav_bar {
        display: flex;
        justify-content: center;
        width: 33%;
    }

    .button_ctn button {
        min-width: unset;
        width: 33%;
    }

    #option-menu-button {
        width: 100%;
    }

    #character-selection-button {
        position: absolute;
        top: 0;
        left: 0;
    }

    .character_selection_ctn {
        height: 75%;
    }

    .content_description_ctn {
        background-size: cover;
        width: unset;
        height: unset;
        max-width: 87%;
        max-height: 84%;
        background-position: top;
    }

    .level_description {
        overflow: hidden;
        padding: 0 12px 0 12px;
    }

    .level_avatar_ctn {
        width: 100px;
        height: 100px;
        margin-top: 12px;
    }

    .mobile_quest_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_quest_ctn {
        gap: 12px;
        margin-top: unset;
    }

    .select_level_btn img {
        width: 56px;
        height: 56px;
    }

    .mobile_quest_description {
        height: 100%;
        padding-top: 0;
    }

    .mobile_quest_description p {
        max-height: 100%;
        overflow: scroll;
        margin: 0;
    }

    .character_selection_img_frame {
        width: 59px;
        height: 59px;
    }

    .character-selection-avatar {
        width: 56px;
        height: 56px;
    }

    .character_info_ctn {
        background-image: url('img/UI/menu/char_bg_90deg.png');
    }

    #character-info {
        height: 217px;
        width: 379px;
    }

    .character_informations {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .mobile_character_preview_avatar {
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    .keyboard_preview {
        gap: 4px;
    }

    .game_finished_ctn {
        width: 100%;
        gap: unset;
        padding: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: unset;
    }

    .defeat_bg {
        gap: 18px;
    }

    #victory-image {
        height: 197px;
    }

    .endScreen_button_ctn {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .hud {
        width: 100%;
        height: 100vh;
    }

    #mobile-overlay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0 12px 6px 12px;
    }

    .mobile_overlay_attack {
        display: flex;
        gap: 16px;
        padding-left: 28px;
    }
}


@media only screen and (max-height: 576px) {

    header {
        display: none;
    }

    canvas {
        height: 100vh;
        border-radius: unset;
    }

    .start_menu {
        height: 100vh;
        border-radius: unset;
    }

    #game-menu-main-ctn {
        height: 100vh;
    }

    .start_menu_content {
        height: 100vh;
        gap: 0;
    }

    .mobile_nav_bar {
        display: flex;
        justify-content: center;
        width: 33%;
    }

    .start_menu button {
        min-width: unset;
        width: 33%;
    }

    #option-menu-button {
        width: 100%;
    }

    #character-selection-button {
        position: absolute;
        top: 0;
        left: 0;
    }

    .character_selection_ctn {
        height: 75%;
    }

    .content_description_ctn {
        background-size: cover;
        width: unset;
        height: unset;
        max-width: 87%;
        max-height: 84%;
        background-position: top;
    }

    .level_description {
        overflow: hidden;
        padding: 0 12px 0 12px;
    }

    .level_avatar_ctn {
        width: 100px;
        height: 100px;
        margin-top: 12px;
    }

    .mobile_quest_section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile_quest_ctn {
        gap: 12px;
        margin-top: unset;
    }

    .select_level_btn img {
        width: 56px;
        height: 56px;
    }

    .mobile_quest_description {
        height: 100%;
        padding-top: 0;
    }

    .mobile_quest_description p {
        max-height: 100%;
        overflow: scroll;
        margin: 0;
    }

    .character_selection_img_frame {
        width: 59px;
        height: 59px;
    }

    .character-selection-avatar {
        width: 56px;
        height: 56px;
    }

    .character_info_ctn {
        background-image: url('img/UI/menu/char_bg_90deg.png');
    }

    #character-info {
        width: 379px;
        width: 379px;
    }

    .character_informations {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .mobile_character_preview_avatar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
    }

    .keyboard_preview {
        gap: 4px;
    }

    .game_finished_ctn {
        height: 100vh;
        gap: unset;
        padding: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: unset;
    }

    .defeat_bg {
        gap: 18px;
    }

    #victory-image {
        height: 197px;
    }

    .endScreen_button_ctn {
        display: flex;
        flex-direction: row;
        gap: 12px;
    }

    .hud {
        width: 100%;
        height: 100vh;
    }

    #mobile-overlay {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        padding: 0 12px 6px 12px;
    }

    .mobile_overlay_attack {
        display: flex;
        gap: 16px;
    }
}

@media only screen and (width: 740px) and (height: 360px) {
    .start_menu h2 {
        padding-bottom: unset;
    }
}

@media only screen and (max-height: 375px) {

    #victory-image {
        height: 167px;
    }

    .victory_text {
        margin-bottom: 30px;
    }

    #star_score img {
        width: 38px;
        height: 36px;
    }

    .endscreen_result {
        margin-top: -16px;
    }
}

@media only screen and (max-height: 360px) {

    .start_menu_content img {
        width: 380px;
    }

    .description_banner img {
        width: 300px; 
    }

    .level_avatar_ctn {
        width: 96px;
        height: 96px;
    }

    #character-selection-titel{
        margin-top: -24px;
    }

}

@media only screen and (max-height: 320px) {

    .start_menu_content img {
        width: 360px;
    }

    .start_menu button {
        font-size: 28px;
    }

    .start_menu_content h2 {
        font-size: 36px;
    }

    .description_banner img {
        width: 280px;
    }

    .level_avatar_ctn {
        width: 70px;
        height: 70px;
    }

    .character_selection_img_frame {
        width: 51px;
        height: 51px;
    }

    .character-selection-avatar {
        width: 48px;
        height: 48px;
    }

    .select_level_btn img {
        width: 48px;
        height: 48px;
    }

    .content_ctn{
        gap: unset;
    }

    #character-info-avatar-img{
        width: 48px;
        height: 48px;
    }

    #character-selection-titel{
        font-size: 44px;
    }
    
    #character-info {
        width: 300px;
        height: 190px;
    }

    .character_info_ctn{
        background-size: contain;
        background-position: center;
    }

    .mobile_charatcer_info_ctn{
        gap: 8px;
    }

    .keyboard_preview {
        gap: 0;
    }

    .option_menu{
        gap: 8px;
        margin-bottom: 200px;
    }
}

@media only screen and (max-width: 480px) {

    .start_menu button{
        font-size: 24px;
    }

    .start_menu_content h2 {
        font-size: 32px;
    }

}