/* cherry-bomb-one-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Cherry Bomb One';
    font-style: normal;
    font-weight: 400;
    src: url('./font/cherry-bomb-one-v8-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    font-family: 'Cherry Bomb One';
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('./img/UI/fantasy-platformer-game-ui/PNG/01main/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pointer{
    cursor: pointer;
}

header {
    position: absolute;
    top: 0;
    font-size: 36px;
    font-family: 'Cherry Bomb One';
}

header h1 {
    margin: 0;
    margin-top: 24px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
    user-select: none;
}

canvas {
    background-color: black;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.game_menu_ctn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.backward_button {
    width: 36px;
    height: 36px;
    padding-right: 36px;
    cursor: pointer;
}

.start_menu {
    background-image: url('img/UI/menu/Background.png');
    background-size: cover;
    height: 576px;
    width: 960px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start_menu_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;

}

.start_menu h2 {
    user-select: none;
    font-size: 48px;
    margin: 0;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
    padding-bottom: 18px;
}

.start_menu button {
    min-width: 300px;
    min-height: 36px;
    font-size: 36px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
    transition: all 250ms ease-in;
}

.start_menu button:hover {
    transform: scale(1.1);
}

.option_menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
    margin-bottom: 250px;
    padding: 20px 12px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px white;
}

.option_menu span:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all 250ms ease-in-out;
}

#character-selection-button {
    width: max-content;
    position: relative;
}

#current-character {
    cursor: pointer;
    position: absolute;
    left: 8px;
    top: 7.5px;
    width: 64px;
    height: 64px;
}

.character_selection_ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}

.character_selection {
    display: flex;
    flex-direction: column;
}

.character_thumbnail_img {
    cursor: pointer;
    position: relative;
    width: max-content;
    height: max-content;
}

.character_thumbnail_img:hover {
    transform: scale(1.1);
}

.character_selection_img_frame {
    width: 67px;
    height: 67px;
}

.character-selection-avatar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 2px;
    border-radius: 50%;
}

.character_info_ctn {
    position: relative;
    height: 100%;
}

#select-character-button {
    min-width: unset;
    min-height: unset;
}

#selected-character-name {
    text-align: center;
    font-size: 28px;
    user-select: none;
    margin-top: -12px;
}

.font_24{
    font-size: 24px;
}

.padding_top_24 {
    padding-top: 24px;
}

.m_top_12 {
    margin-top: 12px;
}

.m_top_24 {
    margin-top: 24px;
}

.minus_margin_24{
    margin: -24px;
}

.gap_12{
    gap: 12px;
}

.gap_24{
    gap: 24px;
}

.b_radius_50 {
    border-radius: 50%;
}

.height_90_percent{
    height: 90%;
}

.flex {
    display: flex;
}

.column_center_x {
    flex-direction: column;
    justify-content: center;
}

.j_content_center {
    justify-content: center;
}

.align_item_center{
    align-items: center;
}

.character_preview_ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.character_preview {
    margin-left: 15px;
}

.character_shadow {
    margin-top: -25px;
    width: 100px;
}

.character_shadow img{
    width: 100px;
}

.keyboard_preview span{
    display: flex;
    align-items: center;
    gap: 4px;
}

.keyboard_preview img{
    width: 34px
}

.button_ctn {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.content_ctn{
    width: 80%;
    height: 85%;
    position: relative;
}

.level_selection {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.level_ctn{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px white;
    margin-left: 24px;
}

.level{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.level img{
    width: fit-content;
    height: fit-content;
}

.level span{
    font-size: 22px;
}

.level_information{
    height: 95%;
    width: 97%;
    background-image: url('img/UI/fantasy-platformer-game-ui/PNG/08Quest/menu_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid transparent;
    border-image: url('img/UI/fantasy-platformer-game-ui/PNG/08Quest/border.png') 2% stretch ;
}

.level_description_banner{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -34px;
}

.level_description_section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.level_description_ctn{
    background-image: url('img/UI/fantasy-platformer-game-ui/PNG/08Quest/beige_bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    width: 87%;
    height: 87%;
    position: relative;
}

.close_button{
    position: absolute;
    right: -65px;
    top: -45px;
    cursor: pointer;
}

.level_description{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    gap: 24px;
}

.level_avatar_ctn{
    margin-top: -12px;
    border: 10px solid transparent;
    border-image: url('img/UI/fantasy-platformer-game-ui/PNG/08Quest/round_border.png') 60 / 10;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    background-position: bottom left;
}

.select_level_btn{
    display: flex;
    margin: -15px -25px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.select_level_btn img {
    cursor: pointer;
}

.won_bg{
    background-image: url('img/UI/defeat/Background-won.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.defeat_bg{
    background-image: url('img/UI/defeat/Background.png');
}

.game_finished_ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    border-radius: 10px;
    gap: 18px;
}

#defeat{
    font-size: 24px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.8);
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.level_statistics{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.statistic_ctn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.victory_text{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 36px;
    margin-bottom: 40px;
}




.d-none {
    display: none;
}